.customcards{
	background-color: white;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(149, 115, 255, 0.2) !important;
}

.sg_detail{
    background: linear-gradient(45deg, #d6d2ef, #927b7b00);
    border-radius: 5px;
}

.dark_purple{
	color: #1f1142 !important;
}