{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">

	<div class="slider-parallax-inner">

		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				<div class="swiper-slide dark" style="background-image: url('/static/img/slider/1.jpg');">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-animate="fadeInUp">Más educación, más derechos</h2>
							<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">Loren ipsum</p>
							<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-danger nomargin" value="submit">Contáctanos</button>
						</div>
					</div>
				</div>

			</div>
			<div class="slider-arrow-left">
				<i class="icon-angle-left"></i>
			</div>
			<div class="slider-arrow-right">
				<i class="icon-angle-right"></i>
			</div>
			<div class="slide-number">
				<div class="slide-number-current">
				</div>
				<span>/</span>
				<div class="slide-number-total"></div>
			</div>
		</div>

	</div>

</section>

<section id="content">
<div class="content-wrap">

	<div class="container clearfix">

		<div class="row bottommargin-lg align-items-stretch">

			<div class="col-lg-4 dark col-padding ohidden" style="background-color: #1abc9c;">
				<div>
					<h3 class="uppercase" style="font-weight: 600;">No estas sola/o</h3>
					<p align="justify" style="line-height: 1.8;">Los derechos sexuales y reproductivos son derechos humanos. La sexualidad no debería ser un tema tabú.</p>
					<a href="#" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><i class="icon-angle-right"></i><span>Leer mas</span></a>
					<i class="icon-bulb bgicon"></i>
				</div>
			</div>

			<div class="col-lg-4 dark col-padding ohidden" style="background-color: #34495e;">
				<div>
					<h3 class="uppercase" style="font-weight: 600;">Nuestra Misión</h3>
					<p style="line-height: 1.8;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<a href="#" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><i class="icon-angle-right"></i><span>Leer mas</span></a>
					<i class="icon-bulb bgicon"></i>
				</div>
			</div>

			<div class="col-lg-4 dark col-padding ohidden" style="background-color: #e74c3c;">
				<div>
					<h3 class="uppercase" style="font-weight: 600;">Visión</h3>
					<p style="line-height: 1.8;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<a href="#" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><i class="icon-angle-right"></i><span>Leer mas</span></a>
					<i class="icon-bulb bgicon"></i>
				</div>
			</div>

		</div>


		<div class="fancy-title title-border" data-animate="slideInDown">
			<h3><a href="#"> Blogs Destacados </a></h3>
		</div>


		<div id="posts" class="small-thumbs alt">

			{% for blog in highlight_blogs %}

			<div class="entry clearfix customcards">
				<div class="entry-image">
					<a href="{{blog.photo.url}}" data-lightbox="image">
					{% thumbnail blog.photo "300x225" crop="center" as im %}
						<img src="{{ im.url }}" srcset="{{ im.url }} {{ im.x }}w" alt="">
						{% empty %}
						<img src="http://via.placeholder.com/300x225" alt="">
					{% endthumbnail %}
						</a>
				</div>
				<div class="entry-c">
					<div class="entry-title">
						<h2><a href="{% url 'blog_detail' blog.slug %}">{{blog}}</a></h2>
					</div>
					<ul class="entry-meta clearfix">
						<li><i class="icon-calendar3 dark_purple"></i> {{blog.created_on}}</li>
						<li><a href="#"><i class="icon-user dark_purple"></i> {{blog.author}}</a></li>
						<li>
							<i class="icofont-package dark_purple"></i>
							<a href="#">{{blog.thematic}}</a>
						</li>
						<li><a href=""><i class="icon-comments dark_purple"></i> 13</a></li>
					</ul>
					<div class="entry-content">
						<p align="justify">{{blog.content|safe|striptags|truncatechars:300}}</p>
						<a href="{% url 'blog_detail' blog.slug %}"class="more-link">Leer más</a>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>


		<!-- Eventos -->

		<div class="col_full bothsidebar nobottommargin">

			<div class="fancy-title title-border" data-animate="slideInDown">
				<h3><a href="/eventos">Próximos Eventos</a> </h3>
			</div>

			<div id="posts" class="events small-thumbs">

				{% for event in next_events %}

				<div class="entry clearfix ">
					<div class="entry-image d-md-none d-lg-block">
						<a href="{% url 'event_detail' event.slug %}">
							{% thumbnail event.photo "200x150" crop="center" as im %}
								<img src="{{ im.url }}" srcset="{{ im.url }} {{ im.x }}w" alt="">
								{% empty %}
								<img src="http://via.placeholder.com/270x202" alt="">
							{% endthumbnail %}
							<div class="entry-date">10<span>Apr</span></div>
						</a>
					</div>
					<div class="entry-c">
						<div class="entry-title">
							<h2>
								<a href="{% url 'event_detail' event.slug %}">{{event}}</a>
							</h2>
						</div>
						<ul class="entry-meta clearfix">
							<li>
								<span class="badge badge-warning">
									<i class="icon-map-marker2 dark_purple"></i> {{event.reference_point}}
								</span>
							</li>

							<li>
								<span class="badge badge-light">
									<i class="icofont-clock-time dark_purple"></i></i> {{event.init_hour}} - {{event.end_hour}}
								</span>
								
							</li>
							<li>
								<span class="badge badge-light">
									<i class="icon-user dark_purple"></i> {{event.author}}
								</span>
							</li>
						</ul>
						<div class="entry-content">
							<a href="{% url 'event_detail' event.slug %}" class="btn btn-danger">Ver más</a>
						</div>
					</div>
				</div>
				{% endfor %}


			</div>


		</div>

		<!-- Recursos educativos -->
		<div class="fancy-title title-border top_padding_20" data-animate="slideInDown">
			<h3><a href="recursos-educativos/">Recursos Educativos</a></h3>
		</div>

		<div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

			{% for resource in resources_list %}

			<div class="oc-item">
				<div class="iportfolio">
					<div class="portfolio-image">
						<a href="{% url 'resource_detail' resource.slug %}">
							{% thumbnail resource.photo "270x202" crop="center" as im %}
								<img src="{{ im.url }}" srcset="{{ im.url }} {{ im.x }}w" alt="">
								{% empty %}
								<img src="http://via.placeholder.com/270x202" alt="">
							{% endthumbnail %}
							
						</a>
						<div class="portfolio-overlay">
							<a href="{{resource.photo.url}}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
							<a href="{% url 'resource_detail' resource.slug %}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3>
							<a href="{% url 'resource_detail' resource.slug %}">{{resource.tittle|striptags|truncatechars:28}}</a>
						</h3>
					</div>
				</div>
			</div>

			{% endfor %}

		</div>


	</div>

</div>	
</section>
{% endblock content %}